* {
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
	padding: 0;
	margin: 0;
	max-width: 100%;
	overflow-x: hidden;
	position: relative;
	display: block;
	/*background-color: #00000091;*/
}

.blur {
	filter: blur(7px);	
}

.unblur:hover + .blur {
	filter: blur(0px);
}

.videos {
	z-index: -100;
	position: relative;
	min-width: 100vw;
	min-height: 100vh;
/*	max-height: clamp(400px, 50vh, 600px);*/
}

footer {
	color: #eeeeee;
	background-color: #111111;
	margin: auto;
	display: flex;
	line-height: 50px;
	width: 100%;
	text-align: left;
}