* {
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
	padding: 0;
	margin: 0;
	max-width: 100%;
	overflow-x: hidden;
	position: relative;
	display: block;
	background-color: #000000;
}

.videos {
	z-index: -100;
	position: relative;
	min-width: 100vw;
	min-height: 100vh;
}

.blur {
	filter: alpha(opacity = 0.7);
	filter: blur(20px);
}

.blur:hover {
	filter: alpha(opacity = 1);
	filter: blur(0px);
	animation-name: emanescer;
	animation-duration: 1s;
}

@keyframes emanescer {
	0% {filter: blur(20px);}
	25% {filter: blur(15px);}
	50% {filter: blur(10px);}
	75% {filter: blur(5px);}
	100% {filter: blur(0px);}
}


footer {
	color: #eeeeee;
	background-color: #111111;
	margin: auto;
	display: flex;
	line-height: 50px;
	width: 100%;
	text-align: left;
}